.image-list {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}

.image-grid {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  object-fit: contain;
}
